---
import Layout from '../layouts/LayoutMonitoring.astro';
---
<Layout title="Dashboard Instinct">
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h1 class="mb-sm-0 font-size-40">Monitoring Logs</h1>
							</div>
						</div>
					</div>
					<!-- end page title -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    </form>
                                    <h3>Logs Attack</h3>
                                    <div class="table-responsive">
                                        <table class="table table-striped-columns mb-0">
                        
                                            <thead>
                                                <tr>
                                                    <th>DateTime</th>
                                                    <th>Rulename</th>
                                                    <th>SourceIP</th>
                                                    <th>DestinationIP</th>
                                                    <th>Request</th>
                                                    <th>BotURL</th>
                                                    <th>UUID</th>
                                                    <th>Severity</th>
                                                    <th>Bloclist SourceIP / Payload</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">2024-06-07 03:28:48</th>
                                                    <td>A web attack returned code 200 (success)
                                                    </td>
                                                    <td>213.109.202.145</td>
                                                    <td>Prancis</td>
                                                    <td> </td>
                                                    <td>Windows 10</td>
                                                    <td>Endpoint Protection</td>
                                                    <td>Endpoint Protection</td>
                                                    <td>Endpoint Protection</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2024-06-07 03:28:48</th>
                                                    <td>Laptop Raiden</td>
                                                    <td>11.96.35.69</td>
                                                    <td>Raiden</td>
                                                    <td>Windows</td>
                                                    <td>Windows 10</td>
                                                    <td>Endpoint Protection</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>Zhongli</td>
                                                    <td>78.96.65.65</td>
                                                    <td>Childe</td>
                                                    <td>Windows</td>
                                                    <td>Windows 10</td>
                                                    <td>Server Protection</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            </form>
                            <h3>Logs Suspicious DNS </h3>
                            <div class="table-responsive">
                                <table class="table table-striped-columns mb-0">
                
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Endpoint Hostname</th>
                                            <th>Endpoint IP</th>
                                            <th>Regional | Endpoint Grup</th>
                                            <th>OS Type</th>
                                            <th>OS Name</th>
                                            <th>Protection manager</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Laptop Kazuha</td>
                                            <td>20.36.98.32</td>
                                            <td>Prancis</td>
                                            <td>Windows</td>
                                            <td>Windows 10</td>
                                            <td>Endpoint Protection</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Laptop Raiden</td>
                                            <td>11.96.35.69</td>
                                            <td>Raiden</td>
                                            <td>Windows</td>
                                            <td>Windows 10</td>
                                            <td>Endpoint Protection</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Zhongli</td>
                                            <td>78.96.65.65</td>
                                            <td>Childe</td>
                                            <td>Windows</td>
                                            <td>Windows 10</td>
                                            <td>Server Protection</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            </form>
                            <h3>Malicious Malware on Endpoint</h3>
                            <div class="table-responsive">
                                <table class="table table-striped-columns mb-0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Endpoint Hostname</th>
                                            <th>Endpoint IP</th>
                                            <th>Regional | Endpoint Grup</th>
                                            <th>OS Type</th>
                                            <th>OS Name</th>
                                            <th>Protection manager</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Laptop Kazuha</td>
                                            <td>20.36.98.32</td>
                                            <td>Prancis</td>
                                            <td>Windows</td>
                                            <td>Windows 10</td>
                                            <td>Endpoint Protection</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Laptop Raiden</td>
                                            <td>11.96.35.69</td>
                                            <td>Raiden</td>
                                            <td>Windows</td>
                                            <td>Windows 10</td>
                                            <td>Endpoint Protection</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Zhongli</td>
                                            <td>78.96.65.65</td>
                                            <td>Childe</td>
                                            <td>Windows</td>
                                            <td>Windows 10</td>
                                            <td>Server Protection</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- End Page-content -->
					<!-- end main content-->
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end d-none d-sm-block">
                                        Design & Develop by Instinct Company
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
</Layout>


