---
import Layout from '../layouts/LayoutShift.astro';
---
<Layout title="Dashboard Instinct">
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h1 class="mb-sm-0 font-size-40">Generate Report Per Shift </h1>
							</div>
						</div>
					</div>
					<!-- end page title -->
					<div class="row">
						<div class="col-xl-4">
							<div class="card overflow-hidden">
								<div class="bg-primary-subtle">
									<div class="row">
									</div>
								</div>
										<div class="col-sm-8">
												<div class="row">
													<div class="col-6">
													</div>
													<div class="col-6">
													</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="page-title-box d-sm-flex align-items-center justify-content-between">
							<h2 class="mb-sm-0 font-size-30">Report Shift Satu </h2>
						</div>
						<!-- Card  -->
                        <div class="row">
                            <div class="col-xl-3 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-16">
                                                <i class="bx bx-happy-beaming"></i>
                                            </span>
                                        </div>
                                        <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark">Generate Report Shift 1</a></h5>
                                        <p class="text-muted">07.00 s/d 15.00</p>
                                        <div>
                                            <button type="button" class="btn btn-success waves-effect waves-light">
                                                <i class="bx bx-file-blank font-size-16 align-middle me-2"></i> Generate here !
                                            </button>
                                        </div>
										<br>
										<div class="btn-group" role="group">
										<button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary" data-bs-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												Download File <i class="mdi mdi-chevron-down"></i>
											</button>
											<div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
												<a class="dropdown-item" href="#">File CSV</a>
												<a class="dropdown-item" href="#">File Text</a>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
							<div class="col-xl-8">
								<div class="row">
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Attack</p>
														<h4 class="mb-0">3131</h4>
													</div>
													<div class="flex-shrink-0 align-self-center">
														<div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
															<span class="avatar-title">
																<i class="bx bx-transfer font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Suspicious DNS</p>
														<h4 class="mb-0">2424</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-cloud font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Malware</p>
														<h4 class="mb-0">4123</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-bot font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
						<div class="page-title-box d-sm-flex align-items-center justify-content-between">
							<h2 class="mb-sm-0 font-size-30">Report Shift Dua </h2>
						</div>
						<!-- Card  -->
                        <div class="row">
                            <div class="col-xl-3 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-16">
                                                <i class="bx bx-happy-beaming"></i>
                                            </span>
                                        </div>
                                        <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark">Generate Report Shift 2</a></h5>
                                        <p class="text-muted">15.00 s/d 23.00</p>
                                        <div>
                                            <button type="button" class="btn btn-success waves-effect waves-light">
                                                <i class="bx bx-file-blank font-size-16 align-middle me-2"></i> Generate here !
                                            </button>
                                        </div>
										<br>
										<div class="btn-group" role="group">
										<button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary" data-bs-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												Download File <i class="mdi mdi-chevron-down"></i>
											</button>
											<div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
												<a class="dropdown-item" href="#">File CSV</a>
												<a class="dropdown-item" href="#">File Text</a>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
							<div class="col-xl-8">
								<div class="row">
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Attack</p>
														<h4 class="mb-0">3131</h4>
													</div>
													<div class="flex-shrink-0 align-self-center">
														<div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
															<span class="avatar-title">
																<i class="bx bx-transfer font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Suspicious DNS</p>
														<h4 class="mb-0">2424</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-cloud font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Malware</p>
														<h4 class="mb-0">4123</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-bot font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
						<div class="page-title-box d-sm-flex align-items-center justify-content-between">
							<h2 class="mb-sm-0 font-size-30">Report Shift Tiga </h2>
						</div>
						<!-- Card  -->
                        <div class="row">
                            <div class="col-xl-3 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-16">
                                                <i class="bx bx-happy-beaming"></i>
                                            </span>
                                        </div>
                                        <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark">Generate Report Shift 3</a></h5>
                                        <p class="text-muted">23.00 s/d 07.00</p>
                                        <div>
                                            <button type="button" class="btn btn-success waves-effect waves-light">
                                                <i class="bx bx-file-blank font-size-16 align-middle me-2"></i> Generate here !
                                            </button>
                                        </div>
										<br>
										<div class="btn-group" role="group">
										<button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary" data-bs-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												Download File <i class="mdi mdi-chevron-down"></i>
											</button>
											<div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
												<a class="dropdown-item" href="#">File CSV</a>
												<a class="dropdown-item" href="#">File Text</a>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
							<div class="col-xl-8">
								<div class="row">
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Attack</p>
														<h4 class="mb-0">3131</h4>
													</div>
													<div class="flex-shrink-0 align-self-center">
														<div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
															<span class="avatar-title">
																<i class="bx bx-transfer font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Suspicious DNS</p>
														<h4 class="mb-0">2424</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-cloud font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Malware</p>
														<h4 class="mb-0">4123</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-bot font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
					<!-- end main content-->
                </div>
            </div>
        </div>

</Layout>


