---

---
<sidebar>
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <h4>Menu</h4>
                <li class="menu-title" key="t-apps">Assets</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-building"></i>
                        <span key="t-dashboards">Assets Pelindo</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">				
                        <li><a href="/maintenance" key="t-dashboards">Endpoint</a></li>
                    </ul>
                    <ul class="sub-menu" aria-expanded="false">				
                        <li><a href="/maintenance" key="t-dashboards">Server</a></li>
                    </ul>
                </li>
                <li class="menu-title" key="t-apps"> Report </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-report"></i>
                        <span key="bi bi-card-list">Generate Report </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">				
                        <li><a href="/maintenance" key="t-dashboards">Generate Report per Shift </a></li>
                        <li><a href="/maintenance" key="t-dashboards">Generate Report R2 Only</a></li>
                        <li><a href="/maintenance" key="t-dashboards">Generate Report Bulanan</a></li>
                    </ul>
                </li>
                <li class="menu-title" key="t-apps"> Monitoring </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-desktop"></i>
                        <span key="t-dashboards">Live Monitoring </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">				
                        <li><a href="/maintenance" key="t-dashboards">Generate Report per Shift</a></li>
                        <li><a href="/maintenance" key="t-dashboards">Generate Report R2 Only</a></li>
                        <li><a href="/maintenance" key="t-dashboards">Generate Report Bulanan</a></li>
                    </ul>
                </li>
                <li class="menu-title" key="t-apps"> Event </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ul"></i>
                        <span key="t-dashboards"> Create Event </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">				
                        <li><a href="/maintenance" key="t-dashboards">Discord</a></li>
                        <li><a href="/maintenance" key="t-dashboards">Generate Report R2 Only</a></li>
                        <li><a href="/maintenance" key="t-dashboards">Generate Report Bulanan</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
</sidebar>